.doctordetailst2 .card
{
   /* margin-top: 100px; */
    overflow: auto;
    box-shadow: 0 2rem 3rem var(--color--dark--varient);
    border-radius: 10px;  
} 
.doctordetailst2 h5
{
    /* text-align: center; */
font-size: 25px;
font-weight: 600;
margin-left: 1%;
color: blue;
}
 .doctordetailst2 .d-flex
{
   
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 50%;
}

.doctordetailst2 .bar .card
{
   margin-top:10px ;
}
/* .doctordetailst2 .card
{
  box-shadow: 0 2rem 3rem var(--color-light);
  border-radius: var(--cord-border-radius);
} */
.doctordetailst2 .table th 
{
   padding: 15px;
   
}
.doctordetailst2 .table td{
   padding: 15px;
}
.doctordetailst2 .pagination a{
    padding: 15px;
}
.doctordetailst2 .table a{
   text-decoration: none;
   
  }