@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap');
.section5 {
    margin-top:66px ;
}
.section5 .service-icon i{
    position: absolute;
    font-size:45px;
    padding-top:2px;
    color:#207fdd;
    /* height:50px;
    width:50px; */
  
}
.section5 .service-text{
    padding-left:70px;
    padding-bottom: 30px;
    overflow: hidden;
}
.section5 .service-text h4{
    font-size: 25px;
    font-weight: 600;
}
.section5 .service-text p{
    font-weight: 500;
    font-size: 17px;
}
.section5 .title-block{
    text-align: center;
} 
.section5 .title-block h3{
    margin-top: 66px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
    overflow: hidden;
}
.section5 .title-block h4{
    font-size: 23px;
    font-weight: 600;
   margin-bottom: 30px;
   
}
